header.site-header {
  font-family: $font__menu;
  .current-page-item > a,
	.current-menu-item > a,
	.current-page-ancestor > a,
	.current-menu-ancestor > a {
    font-weight: bold;
  }
}

nav {
  position: relative;
  height: 50px;
  font-family: $font__menu;
  &:before, &:after {
    content: "";
    display: table;
    clear: both;
  }
  .logo {
    font-size: 1.2rem;
    display: block;
    float: left;
    height: 50px;
    line-height: 50px;
    font-weight: 500;
    text-decoration: none;
    font-family: $font__logo;
    color: $color__logo !important;
    &:hover {
      color: $color__logo !important;
    }
    @include media($screen-sm-max) {
      float: none;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    float: right;
    height: auto;
    list-style: none;
    transition: all 0.3s ease-in-out;
    @include media($screen-sm-min) {
      display: block !important;
    }
    @include media($screen-sm-max) {
      display: none;
      float: left;
      &.visible {
        display: block !important;
      }
    }
    li {
      float: left;
      margin: 0;
      padding: 0;
      text-align: center;
      cursor: pointer;
      @include media($screen-sm-max) {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
      }
      a {
        color: $color__link-menu !important;
        margin-right: 1.4rem;
        vertical-align: middle;
        line-height: 50px;
        height: 50px;
        text-decoration: none;
        &:hover {
          color: $color__link-menu !important;
        }
        @include media($screen-sm-max) {
          height: 30px;
          line-height: 30px;
        }
      }
    }
  }
  input[type=search] {
    font-family: $font__menu;
    line-height: 40px;
    height: 40px;
    margin-top: 5px;
    border-radius: 6px;
    transition: 0.2s background-color ease-in;
    text-indent: 0.5rem;
    &:placeholder-shown {
      background-color: rgba(255,255,255,.05);
      color: $color__text-main;
      &::placeholder {
        color: $color__link-menu;
        opacity: 0.7;
      }
    }
    @include media($screen-sm-max) {
      height: 30px;
      line-height: 30px;
      margin-left: -0.5rem;
      margin-bottom: 1rem;
    }
    &:focus, &:active {
      color: $color__text-main;
      color: #222;
      background-color: rgba(255,255,255,1);
      &::placeholder {
        color: #222;
        color: $color__text-main;
      }
    }
  }
}

#toggle-menu {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  cursor: pointer;
  padding: 0 0.5rem;
  height: 100%;
  svg {
    height: 22px;
  }
  @include media($screen-sm-max) {
    display: flex;
    align-items: center;
  }
  color: $color__link-menu;
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}
	.nav-previous {
		float: left;
		width: 50%;
	}
	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
