.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
	}

	li {
		&:hover > a,
		&.focus > a {
		  text-decoration: underline; 
		}
	}

	a {
		color: #fff;
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	  font-weight: bold;
    &:hover {
      text-decoration: none;
    }
    @include media($screen-sm-min) {
      &:after {
        content: " ▸";
        margin-right: -1rem;
      }
  	}
  }
}

header.header {
    input[type=search] {
    font-family: $font__main;
    background-color: transparent;
    border-width: 0px;
    color: #fff !important;
    text-align: center;
    padding: 0;
    transition: all 0.3s ease-in-out;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
    &:focus {
    }
    @include placeholder {
      color: #fff;
      transition: opacity 0.3s ease-in-out;
    }
    @include media($screen-sm-min) {
      text-align: right;
      max-width: 90%;
      padding: 0;
    }
  }

  input[type=search]:hover::-webkit-input-placeholder { text-decoration: underline; }
  input[type=search]:hover:-moz-placeholder { text-decoration: underline; }
  input[type=search]:hover::-moz-placeholder { text-decoration: underline; }
  input[type=search]:hover:-ms-input-placeholder { text-decoration: underline; }
  input[type=search]:hover::-ms-input-placeholder { text-decoration: underline; }


  input[type=search]:focus::-webkit-input-placeholder { opacity: 0; }
  input[type=search]:focus:-moz-placeholder { opacity: 0; }
  input[type=search]:focus::-moz-placeholder { opacity: 0; }
  input[type=search]:focus:-ms-input-placeholder { opacity: 0; }
  input[type=search]:focus::-ms-input-placeholder { opacity: 0; }

}

body.search header.header form[role=search] {
  font-weight: bold;
  &:before {
    color: #fff;
    font-size: 90%;
    content: "search for: ";
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
