.books header {
  margin: 0 -2rem;
  width: auto;
  .book-cover {
    @include row(table);
    @include pad(2rem);
    position: relative;
    .book-data {
      @include span-columns(7, table);
      @include pad(0 1rem 0 1rem);
      @include omega();
      @include media($screen-sm-max) {
        font-size: 80%;
      }
      vertical-align: middle;
      h1, h2 {
        display: inline-block;
        float: left;
        clear: both;
        margin: 0;
        padding: 0.5rem 1rem;
        font-weight: normal;
      }
      h1 {
        font-size: 160%;
      }
      h2 {
        margin-top: 1rem;
        font-size: 120%;
      }
    }
    a {
      @include span-columns(5, table);
      @include pad(1rem);
      img {
        @include box-shadow(
          0 1px 8px rgba(0,0,0,0.3)
        );
      }
    }
  }
}

.books .stars {}
.books ul.book_links {
  @include margin(1rem 0);
  list-style: none;
  padding: 0;
  li {
    padding: 0;
    display: block;
  }
}

.books .book_quotes {
  .book_quote {
    border-top: 2px solid lighten($color__link, 10%);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 0.5rem 1rem 3rem;
    &::before {
    	font-family:"Georgia";
    	font-weight: bold;
    	font-size: 2.5rem;
    	color: lighten($color__link, 5%);
    	content: '\201c';
    	float: left;
    	margin-left: -2rem;
    	margin-top: -0.75rem;
    }
    div { }
    cite { }
  }
}
