.books {
  .book-cover {
    @include row(table);
    @include pad(2rem);
    position: relative;
    .adjust {
      position: absolute;
      top:0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 1 !important;
      background-color: rgba(0,0,0,0);
    }
    .container {
      position: relative;
      z-index: 10 !important;
    }
    .book-data {
      @include span-columns(7, table);
      @include pad(0 1rem 0 1rem);
      @include omega();
      @include media($screen-sm-max) {
        font-size: 80%;
      }
      vertical-align: middle;
      h1, h2, h3 {
        display: inline-block;
        float: left;
        clear: both;
        margin: 0;
        padding: 0.5rem 1rem;
        font-weight: normal;
        color: #fff;
        background: transparentize(#000, .8);
        text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
      }
      h1 {
        font-size: 160%;
        transform: rotate(1deg);
      }
      h2 {
        margin-top: 1rem;
        font-size: 120%;
        transform: rotate(-1deg);
      }
      h3.stars {
        margin-top: 1rem;
        font-size: 90%;
        letter-spacing: 0.4rem;
        transform: rotate(0deg);
      }
    }
    a {
      @include span-columns(5, table);
      @include pad(1rem);
      img {
        @include box-shadow(
          0 1px 8px rgba(0,0,0,0.3)
        );
      }
    }
  }
  .books-meta-table {
    font-family: $font__mono !important;
    font-size: 90%;
    tr,
    td,
    th {
      text-align: left;
      vertical-align: top;
    }
    .book-tags {
      list-style: none;
      font-size: 90%;
      li {
        display: inline;
      }
    }
  }
}

.books .stars {}
.books ul.book_links {
  @include margin(1rem 0);
  list-style: none;
  padding: 0;
  li {
    padding: 0;
    display: block;
  }
}

.books .book_quotes {
  .book_quote {
    border-top: 2px solid lighten($color__text-main, 40%);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 0.5rem 1rem 3rem;
    &::before {
    	font-family:"Georgia";
    	font-weight: bold;
    	font-size: 2.5rem;
    	color: lighten($color__text-main, 15%);
    	content: '\201c';
    	float: left;
    	margin-left: -2rem;
    	margin-top: -0.75rem;
    }
    div { }
    cite { }
  }
}
