#page {
  @include row(table);
  position: relative;
  header.header {
    background-color: $color__background-menu;
    .site-title {
      margin: 0;
    }
    text-align: center;
    padding-bottom: 1rem;
    @include media($screen-sm-min) {
      @include pad(0 2rem 0 0);
      @include span-columns (3,table);
      background-color: $color__background-menu;
      text-align: right;
      position: fixed;
      height: 99999px;
      .site-title {
        margin: 0.95rem 0 2.7rem 0;
      }
    }
  }
  .content {
    @include pad(0 1rem);
    @include media($screen-sm-min) {
      @include pad(0 1rem);
      @include span-columns (9,table);
      @include omega();
      .content-area {
        max-width: 700px !important;
      }
    }
  }
}

.break-padding {
  @include margin(0 -1rem);
  max-width: 100%;
}

.site-footer {
  margin-top: 20rem;
} 

.home.books {
  @include clearfix();
  @include fill-parent();
  ul {
    list-style: none;
    padding: 0;
    li {
      float: left;
      display: inline-block;
      width: 25%;
      margin: 1rem;
    }
  }
}