#page {
  @include row(table);
  position: relative;
  $mobile: new-breakpoint(max-width 500px 4);
  header.header {
    @include pad(0 2rem 0 0);
    @include span-columns (3,table);
    background-color: $color__background-menu;
    text-align: right;
    position: fixed;
    height: 99999px;
    @include media($mobile) {
      @include row();
      position: relative;
      height: auto;
      text-align: center;
    }
  }
  .content {
    @include pad(0 0 0 1rem);
    @include span-columns (9,table);
    @include omega();
    max-width: 700px !important;
  }
}

.site-footer {
  margin-top: 20rem;
}