.sticky {
	display: block;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-date {
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: 1rem 0;
}

article.post {
  margin-bottom: 8rem;
  padding-bottom: 2rem;
  .entry-content {
    border-bottom: 2px solid lighten($color__text-main, 50%);
  }
  blockquote {
    padding-left: 1rem;
    margin-left: 1rem;
    border-left: 2px solid lighten($color__text-main, 50%);
  }
}

h2.entry-title-project {
  &:before {
    content: "PROJECT: ";
    opacity: 0.8;
  }
  text-transform: uppercase;
  text-align: center;
  font-family: $font__sans;
  font-size: 1.3em;
  letter-spacing: 0.1em;
  color: rgba(255,255,255,0.9);
  margin-bottom: 0;
}
