$color__light-gray: #efefef;
$color__gray: #444;
$color__offwhite: #faf7eb;

$color__background-body: #111;
$color__background-menu: lighten($color__background-body, 8%);
$color__background-screen: #3A3C83;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #3A3C83;

$color__text-main: #fff;
$color__text-screen: $color__text-main;
$color__text-input: #666;
$color__text-input-focus: $color__text-main;
$color__link: darken($color__text-main, 5%);
$color__link-visited: $color__link;
$color__link-hover: darken($color__link, 20%);
$color__link-menu: #fff;
$color__logo: $color__link-menu;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
