@import 'https://fonts.googleapis.com/css?family=Rubik:400,400i,500,700,700i|Lora:400,400i,700,700i';
@import 'http://weloveiconfonts.com/api/?family=entypo';

$font__serif: "Lora", Georgia, serif;
$font__mono: Consolas, "Andale Mono", "Monaco", monospace;
$font__sans: "Rubik", "Lucida Grande", Arial, sans-serif;
$font__main: $font__sans;
$font__logo: $font__sans;
$font__headings: $font__serif;
$font__menu: $font__sans;
$font__footer: $font__serif;
$font__code: $font__mono;
$font__pre: $font__mono;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
