@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

$font__sans: "Inter", "system-ui", Arial, sans-serif;
$font__mono: Consolas, "Andale Mono", "Monaco", monospace;
$font__main: $font__sans;
$font__logo: $font__sans;
$font__headings: $font__sans;
$font__menu: $font__sans;
$font__footer: $font__sans;
$font__code: $font__mono;
$font__pre: $font__mono;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6; 
