@import 'https://fonts.googleapis.com/css?family=Inconsolata:400,700|Playfair+Display:400,400i,700,700i';

$font__main: "Inconsolata", Consolas, "Andale Mono", monospace;
$font__headings: "Playfair Display", Georgia, serif;
$font__code: "Inconsolata", Consolas, "Andale Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;