h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-family: $font--headings;
  font-weight: normal;
}

.site-title {
  font-family: $font__logo;
  @include font-size(1.5);
  line-height: 2;
  margin: 0;
  @include media($screen-sm-min) {
    line-height: 1;
    @include font-size(1.5);
    margin-bottom: 2rem;
  }
  a {
    color: $color__logo;
    text-decoration: none;
    &:active,
    &:visited,
    &:hover {
      color: $color__logo;
    }
  }
}

h1 {
	@include font-size(1.8);
}

h2 {
	@include font-size(1.5);
}